<div>
  <h2 class="m-4">Update article: <%= @article.title %></h2>

  <%= form_with model: @article, class:"m-4" do |f| %>
    <div class="m-2" >
      <%= f.label :title, class: "form-label d-block font-weight-bold" %>
      <%= f.text_field :title %>
    </div>
    <div class="m-2">
      <%= f.label :content, class: "form-label d-block font-weight-bold" %>
      <%= f.text_area :content, rows: 4 %>
    </div>
    <div class="m-2">
      <%= f.submit "Save", class: "btn btn-outline-success" %>
    </div>
  <% end %>
</div>
